<div class="container">
    <div class="row">
        <div class="col-sm" style="margin-right: -40px"><h1 style="margin-top: 38px">Materialized View - Queries</h1>
        </div>

        <div class="col-sm mt-5">
        </div>
    </div>

    <div class="row" style="padding: 25px 0">
        <!-- View 1 -->
        <div class="col-lg-4 text-center">

            <!-- Begin Layout of Budget things -->
            <div class="card">
                <div class="card-header text-white bg-success">
                    <strong>User by Age (Gen X)</strong>
                </div>
                <!-- incometype | incomeid | userid | amount | description -->
                <div class="card-body">
                    <% @genX.each do |row| %>
                        <strong> Userid: </strong><%= row['userid'] %>
                        <strong> DOB: </strong><%= "DOB: #{row['month']} / #{row['year']}" %> <br/>
                    <% end %>
                </div>
            </div> <!-- End Card -->
        </div> <!-- End Column -->

        <!-- View 2 -->
        <div class="col-lg-4 text-center">

            <!-- Begin Layout of Budget things -->
            <div class="card">
                <div class="card-header text-white bg-info">
                    <strong>User by Age (Gen Y)</strong>
                </div>
                <!-- incometype | incomeid | userid | amount | description -->
                <div class="card-body">
                    <% @genY.each do |row| %>
                        <strong> Userid: </strong><%= row['userid'] %>
                        <strong> DOB: </strong><%= "DOB: #{row['month']} / #{row['year']}" %> <br/>
                    <% end %>
                </div>
            </div> <!-- End Card -->
        </div> <!-- End Column -->

        <!-- View 3 -->
        <div class="col-lg-4 text-center">

            <!-- Begin Layout of Budget things -->
            <div class="card">
                <div class="card-header text-white bg-success">
                    <strong>User by Age (Millenials)</strong>
                </div>
                <!-- incometype | incomeid | userid | amount | description -->
                <div class="card-body">
                    <% @mills.each do |row| %>
                        <strong> Userid: </strong><%= row['userid'] %>
                        <strong> DOB: </strong><%= "DOB: #{row['month']} / #{row['year']}" %> <br/>
                    <% end %>
                </div>
            </div> <!-- End Card -->
        </div> <!-- End Column -->

    </div> <!-- End Row -->

    <!-- Start create a mat view row -->
    <!--div class="row" style="padding: 25px 0">
        <!-- View 1 --
        <div class="col-lg-12">

            <!-- Begin Layout of Budget things --
            <div class="card">
                <div class="card-header bg-warning">
                    <strong>Create a Materalized view</strong>


                </div>
                <!-- incometype | incomeid | userid | amount | description --
                <div class="card-body">
                    <% counter = 1 %>
                    <% select1 = "" %>
                    <%#= form_tag(:controller => "pages", :action => "create_view") do %>
                        <%#=@tableNames.inspect %>
                        <div class="row">
                            <div class="col-sm-3" style="margin-top:6px"><strong> Materialized View Name: </strong></div>
                            <%#= text_field_tag 'view_name', "", placeholder: "View Name", :style=>"margin-left: 20px;", :class => "form-control field_default text-center col-sm-2"%>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2" style="margin-top:6px"><strong> SELECT </strong></div>
                            <%#= text_field_tag 'select1', "", placeholder: "Column to select", :style=>"margin-left: 20px;", :class => "form-control field_default text-center col-sm-2"%>
                            <%#= text_field_tag 'select2', "", placeholder: "Column to select", :style=>"margin-left: 20px;", :class => "form-control field_default text-center col-sm-2"%>
                            <%#= text_field_tag 'select3', "", placeholder: "Column to select", :style=>"margin-left: 20px;", :class => "form-control field_default text-center col-sm-2"%>
                            <%#= text_field_tag 'select4', "", placeholder: "Column to select", :style=>"margin-left: 20px;", :class => "form-control field_default text-center col-sm-2"%>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2" style="margin-top:6px"><strong> FROM </strong></div>
                            <%#= text_field_tag 'from1', "", placeholder: "From Table", :style=>"margin-left: 20px;", :class => "form-control field_default text-center col-sm-2"%>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2" style="margin-top:6px"><strong> WHERE </strong></div>
                            <%#= text_field_tag 'where1', "", placeholder: "Clause 1", :style=>"margin-left: 20px;", :class => "form-control field_default text-center col-sm-2"%>
                            <div class="col-sm-1" style="margin-top:6px"></div>
                            <div class="col-sm-2" style="margin-top:6px; margin-left: -80px"><strong> AND </strong></div>
                            <%#= text_field_tag 'where2', "", placeholder: "Clause 2", :style=>"margin-left: -100px;", :class => "form-control field_default text-center col-sm-2"%>
                            <div class="col-sm-1" style="margin-top:6px"></div>
                            <div class="col-sm-2" style="margin-top:6px; margin-left: -80px"><strong> AND </strong></div>
                            <%#= text_field_tag 'where3', "", placeholder: "Clause 3", :style=>"margin-left: -100px;", :class => "form-control field_default text-center col-sm-2"%>

                        </div--
                        <%#= submit_tag("Create View", :class => "btn-secondary float-right", :style => "cursor:pointer")%>
                    <%# end %>

                </div>
            </div> <!-- End Card --
        </div> <!-- End Column -->


</div>
